### 2. Implementation of various classifier on given datasets and compute the accuracy

In [2]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn.metrics import accuracy_score,precision_score,f1_score,recall_score
from sklearn.svm import SVC 
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

df = pd.read_csv('coviddata.csv')

from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
df['SEX']=le.fit_transform(df['SEX'])
df['PATIENT_TYPE']=le.fit_transform(df['PATIENT_TYPE'])
df['RESULTS']=le.fit_transform(df['RESULTS'])

In [3]:
df

,MEDICAL_UNIT,SEX,PATIENT_TYPE,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,RESULTS
0,1,0,1,1,65,2,2,2,2,1,2,2,2,2,2,1
1,1,1,1,1,72,2,2,2,2,1,2,2,1,1,2,0
2,1,1,0,2,55,1,2,2,2,2,2,2,2,2,2,1
3,1,0,1,2,53,2,2,2,2,2,2,2,2,2,2,0
4,1,1,1,2,68,1,2,2,2,1,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,3,0,1,2,8,2,2,2,2,2,2,2,2,2,2,0
9996,3,0,1,2,3,2,2,2,2,2,2,2,2,2,2,0
9997,3,1,1,2,45,2,2,2,2,1,2,2,2,1,2,0
9998,3,0,1,2,32,2,2,2,2,2,2,2,2,2,2,0
9999,3,0,1,2,60,2,2,2,2,2,2,2,1,2,2,0

In [4]:
x=df.drop(['RESULTS'],axis=1)
y=df['RESULTS']

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

### SVM

In [12]:
clf = SVC(kernel='linear') # kernel{â€˜linearâ€™, â€˜polyâ€™, â€˜rbfâ€™, â€˜sigmoidâ€™} 
clf.fit(x_train, y_train) 
dt_pred = clf.predict(x_test)

# print the accuracy 
print("Accuracy of SVM Classifier: ", accuracy_score(y_test, dt_pred)) 
print("\nName : Dhanyatha Shree C A\nRoll No : CB.SC.I5DAS21023\n")

Accuracy of SVM Classifier:  0.8955

Name : Dhanyatha Shree C A
Roll No : CB.SC.I5DAS21023

### Naive Bayes

In [9]:
gnb=GaussianNB()
gnb.fit(x_train,y_train)
gnb_pred=gnb.predict(x_test)
print("Accuracy of Naive Bayes:",accuracy_score(y_test,gnb_pred))
print("\nName : Dhanyatha Shree C A\nRoll No : CB.SC.I5DAS21023\n")

Accuracy of Naive Bayes: 0.8945

Name : Dhanyatha Shree C A
Roll No : CB.SC.I5DAS21023

### Decision Tree

In [10]:
dt=DecisionTreeClassifier(random_state=0)
dt.fit(x_train,y_train)
dt_pred=dt.predict(x_test)
print("Accuracy of decision tree classifier:",accuracy_score(y_test,dt_pred))
print("\nName : Dhanyatha Shree C A\nRoll No : CB.SC.I5DAS21023\n")

Accuracy of decision tree classifier: 0.841

Name : Dhanyatha Shree C A
Roll No : CB.SC.I5DAS21023